version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    cooldown:
      default-days: 7
    open-pull-requests-limit: 3
    assignees:
      - "jmelahman"
    labels:
      - "dependabot:actions"
  - package-ecosystem: "pip"
    directory: "/backend"
    schedule:
      interval: "weekly"
    cooldown:
      default-days: 7
    open-pull-requests-limit: 3
    assignees:
      - "jmelahman"
    labels:
      - "dependabot:python"
