/* Input styling */
.input-normal {
  background-color: var(--background-neutral-00);
  border: 1px solid var(--border-01);
}
.input-normal:hover {
  border-color: var(--border-02);
}
.input-normal:active {
  border-color: var(--border-05);
}
.input-normal:focus:not(:active),
.input-normal:focus-within:not(:active) {
  border-color: var(--border-05);
  box-shadow: inset 0px 0px 0px 2px var(--background-tint-04);
}

.input-error {
  background-color: var(--background-neutral-00);
  border: 1px solid var(--status-error-05);
}

.input-disabled {
  background-color: var(--background-neutral-03);
  border: none;
  cursor: not-allowed;
}
