/* LineItem Button Variants */
.line-item-button-main {
  @apply bg-transparent hover:bg-background-tint-02;
}

.line-item-button-main-emphasized {
  @apply bg-transparent hover:bg-background-tint-02;
}

.line-item-button-main-emphasized[data-selected="true"] {
  @apply bg-action-link-01;
}

.line-item-button-strikethrough {
  @apply bg-transparent hover:bg-background-tint-02;
}

.line-item-button-strikethrough-emphasized {
  @apply bg-transparent hover:bg-background-tint-02;
}

.line-item-button-danger {
  @apply bg-transparent hover:bg-background-tint-02;
}

.line-item-button-danger-emphasized {
  @apply bg-transparent hover:bg-background-tint-02;
}

.line-item-button-danger-emphasized[data-selected="true"] {
  @apply bg-status-error-01;
}

/* LineItem Text Variants */
.line-item-text-main {
  @apply text-text-04;
}

.group\/LineItem[data-selected="true"] .line-item-text-main {
  @apply text-action-link-05;
}

.line-item-text-strikethrough {
  @apply text-text-02 line-through decoration-2;
}

.line-item-text-danger {
  @apply text-status-error-05;
}

.group\/LineItem[data-selected="true"] .line-item-text-danger {
  @apply text-action-link-05;
}

/* LineItem Icon Variants */
.line-item-icon-main {
  @apply stroke-text-03;
}

.group\/LineItem[data-selected="true"] .line-item-icon-main {
  @apply stroke-action-link-05;
}

.line-item-icon-strikethrough {
  @apply stroke-text-03;
}

.line-item-icon-danger {
  @apply stroke-status-error-05;
}

.group\/LineItem[data-selected="true"] .line-item-icon-danger {
  @apply stroke-action-link-05;
}
